{{#if book}}
<div class="card">
    <div class="date">
        Added on: {{ book.createdAt }}
    </div>
    <div class="title">
        {{ book.title }}
    </div>
    <div class="author">
        {{ book.author }}
    </div>
    <div class="subtopic">
        {{ book.subtopic }}
    </div>
    <div class="description">
        {{ book.description }}
    </div>
    <div class="comments">
        {{ book.comments }}
    </div>
    <span>
    <label>Complete:</label>
    {{#if complete}}
      <input type="checkbox" name="complete" id="complete" checked/>
    {{else}}
      <input type="checkbox" name="complete" id="complete"/>
    {{/if}}
    </span>
</div>
{{/if}}