{{#if books}}
    <div class="card">
        {{#each books}}
            <div class="date">
                Added on: {{ book.createdAt }}
            </div>
            <div class="title">
                {{ book.title }}
            </div>
            <div class="author">
                {{ book.author }}
            </div>
            <div class="subtopic">
                {{ book.subtopic }}
            </div>
            <div class="description">
                {{ book.description }}
            </div>
            <div class="comment">
                {{ book.comment }}
            </div>
        {{/each}}
    </div>
{{/if}}